[submodule "src/microstrain_3dmgx2_imu"]
	path = src/microstrain_3dmgx2_imu
	url = https://github.com/ros-drivers/microstrain_3dmgx2_imu.git
[submodule "src/dvl_driver"]
	path = src/dvl_driver
	url = https://github.com/kunaltyagi/dvl_driver.git
