[submodule "src/microstrain_3dmgx2_imu"]
	path = src/microstrain_3dmgx2_imu
	url = https://github.com/ros-drivers/microstrain_3dmgx2_imu.git
[submodule "src/dvl_driver"]
	path = src/dvl_driver
	url = https://github.com/UCSD-E4E/dvl_driver.git
[submodule "qx100-interfacing"]
	path = qx100-interfacing
	url = https://github.com/UCSD-E4E/qx100-interfacing.git
[submodule "src/libuvc_ros"]
	path = src/libuvc_ros
	url = https://github.com/ktossell/libuvc_ros
[submodule "src/see3cam"]
	path = src/see3cam
	url = https://github.com/UCSD-E4E/see3cam.git
[submodule "uEye-External-Trigger"]
	path = uEye-External-Trigger
	url = https://github.com/njzhangyifei/uEye-External-Trigger.git
[submodule "image_pipeline"]
	path = image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
