[submodule "src/microstrain_3dmgx2_imu"]
	path = src/microstrain_3dmgx2_imu
	url = https://github.com/ros-drivers/microstrain_3dmgx2_imu.git
[submodule "src/dvl_driver"]
	path = src/dvl_driver
	url = https://github.com/kunaltyagi/dvl_driver.git
[submodule "src/see3cam"]
	path = src/see3cam
	url = https://github.com/dgossow/see3cam.git
[submodule "qx100-interfacing"]
	path = qx100-interfacing
	url = https://github.com/UCSD-E4E/qx100-interfacing.git
