<launch>
  <node pkg="ueye" name="ueye" type="stereo">
    <param name="l_pixel_clock" value="80" />
    <param name="r_pixel_clock" value="80" />
    <param name="frame_rate" value="20" />
    <param name="zoom" value="4" />
    <param name="auto_gain" value="true" />
    <param name="auto_exposure" value="true" />
    <param name="config_path" value="/home/e4e/.ros/camera_info/" />
  </node> 
</launch>
