<launch>

   <!-- Two monocular image streams published to localhost -->
   <!-- Need to test with onboard camera setup -->
	
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="8090" />
	</include>

        <group ns="mystereo">
                <include file="stereo_ueye.launch" />
        </group>

	<!-- start web video server node -->
	<node pkg="web_video_server" type="web_video_server" name="web_video_server">
	</node>

	<!-- open up html separately -->

</launch>
